.indexmenu {
  background-color: #282828 !important;
}

.abouttab.tab {
  border: 0;
  box-shadow: none;
}

.aboutgrid.grid {
  padding-top: 75px;
  padding-bottom: 75px;
}

.ui.howgrid.relaxed.grid {
  color: whitesmoke;
}

h1.ui.centered.huge.dividing.header {
    color: whitesmoke;
}

h3.ui.small.header {
    color: whitesmoke;
}

.footer.grid {
  background-color: #0F0F0F;
  color: whitesmoke;
}
