body {
  background-color: #282828;
}

.indexmenu {
  background-color: #282828 !important;
}

.welcometab.tab {
  border: 0;
  box-shadow: none;
  background-color: #282828 !important;
}

.abouttab.tab {
  border: 0;
  box-shadow: none;
  background-color:
}
